# AWS
AWS_PROFILE=loan-pipeline
AWS_REGION=ap-southeast-2
S3_BUCKET=manoj-loan-pipeline-raw-2026

# Snowflake (filled in Phase 2)
SNOWFLAKE_ACCOUNT=ORGNAME-ACCOUNTNAME
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
